//Color Palette
$design-a: #926fb1;
$design-b: #79539a;

$support-c: #2a6ec6;
$btn-alt: #84858f;
$btn: #999aa2;
$nm-dark: #333645;
$nm-darker: #22242e;

$support-a: #4183d7;
$support-b: #286abd;

$services-a: #d64541;
$services-b: #bc2c28;

$software-a: #67809f;
$software-b: #526781;

$marketing-a: #2ecc71;
$marketing-b: #25a25a;

$security-a : #f62459;
$security-b : #de093f;


